# Download the latest version. See below for other installation methods.
source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.1/1password.sh" \
    "sha256-4dmKkmlPBNXimznxeehplDfiV+CvJiIzg7H1Pik4oqY="

# Fetch one secret and export it into the specified environment variable
from_op NVCF_RUN_KEY="op://Scientific Development/Nvidia NIMs RFDiffusion/credential"